{% extends './templates/app.twig' %}

{% block content %}

<div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li><a href="{{ path_for('main.page') }}"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Shopping Cart</a></li>
        <li><a href="#">Checkout</a></li>
      </ul>
      <!-- Breadcrumb End-->
      <div class="row">
      <form action="{{ path_for('checkout.page') }}" method="POST">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
          {% set CartTotalPrice = 0 %}
          {% set CartTotalCount = 0 %}

          {% set index = 0 %}
          {% set CartTotalPrice = 0 %}
          {% for cartDetail in cartDetails %}
            {% if index is same as (cartDetail.p_id) %}

            {% else %}
                {% set index = cartDetail.p_id %}
                {% set CartTotalPrice = CartTotalPrice + (cartDetail.total_price * cartDetail.p_quantity) %}
                {% set CartTotalCount = CartTotalCount + 1 %}
            {% endif %}
          {% endfor %}
          <h1 class="title">Checkout</h1>
          <div class="row">
            <div class="col-sm-4">
            <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><i class="fa fa-credit-card"></i> Payment Method</h4>
                    </div>
                      <div class="panel-body">
                        <p>Please select the preferred payment method to use on this order.</p>
                        <select class="form-control" id="input-payment-country" name="payment_method">
                        <option value="1">Cash On Delivery</option>
                        <option value="2">Bank Transfer</option>
                        </select>
                      </div>
                  </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><i class="fa fa-list"></i> Your Billing Address</h4>
                </div>
                  <div class="panel-body">
                    <p>{{ userDetails.user_address }}, <br>
                    {{ userDetails.user_city }}, {{ userDetails.user_postcode }} <br>
                    {{ userDetails.user_state }}
                    </p>      
                  </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><i class="fa fa-shopping-cart"></i> Shopping cart</h4>
                    </div>
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <td class="text-center">Image</td>
                                <td class="text-left">Product Name</td>
                                <td class="text-left">Quantity</td>
                                <td class="text-right">Unit Price</td>
                                <td class="text-right">Total</td>
                              </tr>
                            </thead>
                            <tbody>
                            {% set index = 0 %}
                            {% set CartTotalPrice = 0 %}
                            {% for cartDetail in cartDetails %}
                            {% if index is same as (cartDetail.p_id) %}

                            {% else %}
                            {% set index = cartDetail.p_id %}
                              <tr>
                                <td class="text-center"><a href="{{ path_for('product.page', {'productid': cartDetail.p_id}) }}"><img title="{{ cartDetail.p_name }}" alt="{{ cartDetail.p_name }}" src="data:image;base64,{{ cartDetail.image }}" width="70" height="70px" class="img-thumbnail"></a></td>
                                <td class="text-left"><a href="{{ path_for('product.page', {'productid': cartDetail.p_id}) }}">{{ cartDetail.p_name }}</a></td>
                                <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                                    <input type="text" name="quantity" value="{{ cartDetail.p_quantity }}" size="1" class="form-control">
                                    <span class="input-group-btn">
                                    <a href="{{ path_for('remove.from.cart', {'cartid': cartDetail.cart_id}) }}"><button type="button" data-toggle="tooltip" title="" class="btn btn-danger" onclick="" data-original-title="Remove"><i class="fa fa-times-circle"></i></button></a>
                                    </span></div></td>
                                <td class="text-right">Rs.{{ cartDetail.p_price }}</td>
                                <td class="text-right">Rs.{{ cartDetail.total_price }}</td>
                              </tr>
                            {% set CartTotalPrice = CartTotalPrice + (cartDetail.total_price * cartDetail.p_quantity) %}
                            {% endif %}
                            {% endfor %}
                            </tbody>
                            <tfoot>
                              <tr>
                                <td class="text-right" colspan="4"><strong>Sub-Total:</strong></td>
                                <td class="text-right">Rs.{{ CartTotalPrice }}</td>
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><i class="fa fa-pencil"></i> Add Comments About Your Order</h4>
                    </div>
                      <div class="panel-body">
                        <textarea rows="4" class="form-control" id="confirm_comment" name="comments"></textarea>
                        <br>
                        <label class="control-label" for="confirm_agree">
                          <input type="checkbox" onchange="document.getElementById('button-confirm').disabled = !this.checked;" value="1" required="" class="validate required" id="confirm_agree" name="confirm agree">
                          <span>I have read and agree to the <a class="agree" href="#"><b>Terms &amp; Conditions</b></a></span> </label>
                        <div class="buttons">
                          <div class="pull-right">
                            <input type="submit" class="btn btn-primary" id="button-confirm" value="Confirm Order" disabled>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
        <!--Middle Part End -->
      </div>
    </div>
  </div>

{% endblock %}