{% extends './templates/app.twig' %}

{% block content %}
<div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li><a href="{{ path_for('main.page') }}"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Reviews</a></li>
      </ul>
      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
        <h1 class="title">Reviews & Pending Reviews</h1>
            <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
            <td class="text-center">Image</td>
              <td class="text-left">Product Name</td>
              <td class="text-center">Order ID</td>
              <td class="text-center">Qty</td>
              <td class="text-center">Status</td>
              <td class="text-center">Date Added</td>
              <td class="text-right">Total</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
          {% for order in orders %}
            <tr>
              <td class="text-center"><a href="{{ path_for('product.page', {'productid': order.p_id}) }}"><img class="img-thumbnail" title="{{ order.p_name }}" alt="{{ order.p_name }}" src="data:image;base64,{{ order.image }}" width="50px" height="50px"></a></td>
              <td class="text-left"><a href="{{ path_for('product.page', {'productid': order.p_id}) }}">{{ order.p_name }}</a></td>
              <td class="text-center">{{ order.order_id }}</td>
              <td class="text-center">{{ order.t_quantity }}</td>
              <td class="text-center">{{ order.t_status }}</td>
              <td class="text-center">{{ order.created_at }}</td>
              <td class="text-right">Rs.{{ order.t_subtotal }}</td>
              {% if order.review_status is same as (0) %}
                <td class="text-center"><a class="btn btn-info" title="" data-toggle="tooltip" href="{{ path_for('review.detail.page', {'id': order.t_id}) }}" data-original-title="Review it!"><i class="fa fa-star"></i></a></td>
              {% else %}
                <td class="text-center"><a class="" title="" data-toggle="tooltip" href="" data-original-title="Already Reviewed">Already Reviewed!</a></td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
              
            
              
               
        </div>
        <!--Middle Part End -->
        <!--Right Part Start -->
                <aside class="col-sm-3 hidden-xs" id="column-right">
          <h3 class="subtitle">Account</h3>
          <div class="list-group">
            <ul class="list-item">
              <li><a href="{{ path_for('account.addresses') }}">My Account</a></li>
              <li><a href="{{ path_for('account.addresses') }}">Address Books</a></li>
              <li><a href="{{ path_for('account.wishlist.page') }}">Wish List</a></li>
              <li><a href="{{ path_for('reviews.page') }}">Reviews & Pending Reviews</a></li>
              <li><a href="{{ path_for('order.page') }}">Order History</a></li>
              <li><a href="{{ path_for('change.password') }}">Change Password</a></li>
            </ul>
          </div>
        </aside>
        <!--Right Part End -->
      </div>
    </div>
  </div>

{% endblock %}