 <div id="header">
    <!-- Top Bar Start-->
    <nav id="top" class="htop">
      <div class="container">
        <div class="row"> <span class="drop-icon visible-sm visible-xs"><i class="fa fa-align-justify"></i></span>
          <div class="pull-left flip left-top">
            <div class="links">
              <ul>
                <li class="mobile"><i class="fa fa-phone"></i>+92 3423641217</li>
                <li class="email"><a href="mailto:bc1400143@vu.edu.pk"><i class="fa fa-envelope"></i>bc1400143@vu.edu.pk</a></li>
                {# <li class="wrap_custom_block hidden-sm hidden-xs"><a>Custom Block<b></b></a>
                  <div class="dropdown-menu custom_block">
                    <ul>
                      <li>
                        <table>
                          <tbody>
                            <tr>
                              <td><img alt="" src="image/banner/cms-block.jpg"></td>
                              <td><img alt="" src="image/banner/responsive.jpg"></td>
                            </tr>
                            <tr>
                              <td><h4>CMS Blocks</h4></td>
                              <td><h4>Responsive Template</h4></td>
                            </tr>
                            <tr>
                              <td>This is a CMS block. You can insert any content (HTML, Text, Images) Here.</td>
                              <td>This is a CMS block. You can insert any content (HTML, Text, Images) Here.</td>
                            </tr>
                            <tr>
                              <td><strong><a class="btn btn-default btn-sm" href="#">Read More</a></strong></td>
                              <td><strong><a class="btn btn-default btn-sm" href="#">Read More</a></strong></td>
                            </tr>
                          </tbody>
                        </table>
                      </li>
                    </ul>
                  </div>
                </li> #}
                {# <li><a href="#">Wish List (0)</a></li>
                <li><a href="checkout.html">Checkout</a></li> #}
              </ul>
            </div>
          </div>
          <div id="top-links" class="nav pull-right flip">
          {% if auth.check %}
          <div id="currency" class="btn-group">
              <button class="btn-link dropdown-toggle" data-toggle="dropdown"> <span> My Account <i class="fa fa-caret-down"></i></span></button>
              <ul class="dropdown-menu" style="display: none;">
                <li>
                  <a href="{{ path_for('account.addresses') }}">Account</a>
                </li>
                <li>
                  <a href="{{ path_for('order.page') }}">Orders</a>
                </li>
                <li>
                  <a href="{{ path_for('account.addresses') }}">Addresses</a>
                </li>
                <li>
                  <a href="{{ path_for('become.seller') }}">Want to become a Seller?</a>
                </li>
                <li>
                  <a href="{{ path_for('main.logout') }}">Logout</a>
                </li>
              </ul>
            </div>
            {% else %}
              <ul>
                <li><a href="{{ path_for('signIn.page') }}">Login</a></li>
                <li><a href="{{ path_for('register.page') }}">Register</a></li>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <!-- Top Bar End-->
    <!-- Header Start-->
    <header class="header-row">
      <div class="container">
        <div class="table-container">
          <!-- Logo Start -->
          <div class="col-table-cell col-lg-6 col-md-6 col-sm-12 col-xs-12 inner">
            <div id="logo"><a href="{{ path_for('main.page') }}"><img class="img-responsive" src="{{ asset('./image/logo.png' , 'img') }}" title="MarketShop" alt="MarketShop" /></a></div>
          </div>
          <!-- Logo End -->
          <!-- Mini Cart Start-->
          <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12">
          {% set CartTotalPrice = 0 %}
          {% set CartTotalCount = 0 %}

          {% set index = 0 %}
          {% set CartTotalPrice = 0 %}
          {% for cartDetail in cartDetails %}
            {% if index is same as (cartDetail.p_id) %}

            {% else %}
                {% set index = cartDetail.p_id %}
                {% set CartTotalPrice = CartTotalPrice + (cartDetail.total_price * cartDetail.p_quantity) %}
                {% set CartTotalCount = CartTotalCount + 1 %}
            {% endif %}
          {% endfor %}

            <div id="cart">
              <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="heading dropdown-toggle">
              <span class="cart-icon pull-left flip"></span>
              {% if auth.check %}
              <span id="cart-total">{{ CartTotalCount }} item(s) - Rs.{{ CartTotalPrice }}</span></button>
              {% else %}
              <span id="cart-total">0 item(s) - Rs.0</span></button>
              {% endif %}
              <ul class="dropdown-menu">
                <li>
                  <table class="table">
                    <tbody>
                    {% set index = 0 %}
                    {% set CartTotalPrice = 0 %}
                    {% for cartDetail in cartDetails %}
                    {% if index is same as (cartDetail.p_id) %}

                    {% else %}
                    {% set index = cartDetail.p_id %}
                      <tr>
                        <td class="text-center"><a href="{{ path_for('product.page', {'productid': cartDetail.p_id}) }}"><img class="img-thumbnail" title="{{ cartDetail.p_name }}" alt="{{ cartDetail.p_name }}" src="data:image;base64,{{ cartDetail.image }}" width="50px" height="50px"></a></td>
                        <td class="text-left"><a href="{{ path_for('product.page', {'productid': cartDetail.p_id}) }}">{{ cartDetail.p_name }}</a></td>
                        <td class="text-right">x {{ cartDetail.p_quantity }}</td>
                        <td class="text-right">Rs.{{ cartDetail.total_price }}</td>
                        <td class="text-center"><a href="{{ path_for('remove.from.cart', {'cartid': cartDetail.cart_id}) }}"><button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button></a></td>
                      </tr>
                      {% set CartTotalPrice = CartTotalPrice + (cartDetail.total_price * cartDetail.p_quantity) %}
                    {% endif %}
                    {% endfor %}
                    </tbody>
                  </table>
                </li>
                <li>
                  <div>
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td class="text-right"><strong>Sub-Total</strong></td>
                          <td class="text-right">Rs.{{ CartTotalPrice }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <p class="checkout"><a href="{{ path_for('checkout.page') }}" class="btn btn-primary"><i class="fa fa-share"></i> Checkout</a></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- Mini Cart End-->
          <!-- Search Start-->
          <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12 inner">
          <form action="{{ path_for('search.by.keyword') }}" method="GET">
            <div id="search" class="input-group">
              <input id="filter_name" type="text" name="keyword" placeholder="Search" class="form-control input-lg" />
              <button type="submit" class="button-search"><i class="fa fa-search"></i></button>
            </div>
          </form>
          </div>
          <!-- Search End-->
        </div>
      </div>
    </header>
    <!-- Header End-->
  </div>