<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="image/favicon.png" rel="icon" />
<title>MultiVendor MarketPlace</title>
<meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
<!-- CSS Part Start-->
<link rel="stylesheet" type="text/css" href="{{ asset('./js/bootstrap/css/bootstrap.min.css', 'css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('./css/font-awesome/css/font-awesome.min.css', 'css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('./css/stylesheet.css', 'css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('./css/owl.carousel.css', 'css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('./js/swipebox/src/css/swipebox.min.css', 'css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('./css/owl.transitions.css', 'css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('./css/responsive.css', 'css') }}" />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans' type='text/css'>
<!-- CSS Part End-->
</head>
<body>
<div class="wrapper-wide">
  {% include './templates/partials/navigation.twig' %}
  {% block content %} {% endblock %}
    <!--Footer Start-->
  <footer id="footer">
    <div class="fpart-first">
      <div class="container">
        <div class="row">
          <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h5>Contact Details</h5>
            <ul>
              <li class="address"><i class="fa fa-map-marker"></i>Plaza #21, Block B3, Islamabad, Pakistan</li>
              <li class="mobile"><i class="fa fa-phone"></i>+92 3423641216</li>
              <li class="email"><i class="fa fa-envelope"></i>Send email via on <a href="mailto:bc160400143@vu.edu.pk">bc160400143@vu.edu.pk</a>
            </ul>
          </div>
          <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <h5>Information</h5>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Delivery Information</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
          </div>
          <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <h5>Customer Service</h5>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <h5>Extras</h5>
            <ul>
              <li><a href="#">Brands</a></li>
              <li><a href="#">Gift Vouchers</a></li>
              <li><a href="#">Affiliates</a></li>
              <li><a href="#">Specials</a></li>
            </ul>
          </div>
          <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <h5>My Account</h5>
            <ul>
              <li><a href="#">My Account</a></li>
              <li><a href="#">Order History</a></li>
              <li><a href="#">Wish List</a></li>
              <li><a href="#">Newsletter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="fpart-second">
      <div class="container">

        <div class="bottom-row">
          <div class="custom-text text-center">
            <p>VirtualDukan first made waves in Pakistan’s e-commerce market after its introduction in 2012. We have since grown to become Pakistan’s largest platform for online shopping with a network spread across Asia in Pakistan Bangladesh, Sri Lanka, Myanmar, and VirtualDukan.com. Our vision was to provide a safe, efficient online marketplace platform for vendors and customers across the country to come together. We started off exclusively as an online fashion retail platform and over the years expanded to become a complete one-stop solution for all your buying needs. VirtualDukan prides itself on not being just another ecommerce venture in Asia. We work tirelessly to make sure that we provide users with the best online online shopping experience and value for their purchases. Whether you shop online through our website or our online shopping mobile App, you can expect easy navigation, customized recommendations, and a smooth online shopping experience guaranteed.</p>
          </div>
          <div class="payments_types"> <a href="#" target="_blank"> <img data-toggle="tooltip" src="{{ asset('image/payment/payment_paypal.png', 'img') }}" alt="paypal" title="PayPal"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="{{ asset('image/payment/payment_american.png', 'img') }}" alt="american-express" title="American Express"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="{{ asset('image/payment/payment_2checkout.png', 'img') }}" alt="2checkout" title="2checkout"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="{{ asset('image/payment/payment_maestro.png', 'img') }}" alt="maestro" title="Maestro"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="{{ asset('image/payment/payment_discover.png', 'img') }}" alt="discover" title="Discover"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="{{ asset('image/payment/payment_mastercard.png', 'img') }}" alt="mastercard" title="MasterCard"></a> </div>
        </div>
      </div>
    </div>
    <div id="back-top"><a data-toggle="tooltip" title="Back to Top" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
  </footer>
  <!--Footer End-->
</div>
<!-- JS Part Start-->
<script type="text/javascript" src="{{ asset('./js/jquery-2.1.1.min.js', 'js') }}"></script>
<script type="text/javascript" src="{{ asset('./js/bootstrap/js/bootstrap.min.js', 'js') }}"></script>
<script type="text/javascript" src="{{ asset('./js/jquery.easing-1.3.min.js', 'js') }}"></script>
<script type="text/javascript" src="{{ asset('./js/jquery.dcjqaccordion.min.js', 'js') }}"></script>
<script type="text/javascript" src="{{ asset('./js/owl.carousel.min.js', 'js') }}"></script>
<script type="text/javascript" src="{{ asset('./js/jquery.elevateZoom-3.0.8.min.js', 'js') }}"></script>
<script type="text/javascript" src="{{ asset('./js/swipebox/lib/ios-orientationchange-fix.js', 'js') }}"></script>
<script type="text/javascript" src="{{ asset('./js/swipebox/src/js/jquery.swipebox.min.js', 'js') }}"></script>
<script type="text/javascript" src="{{ asset('./js/custom.js', 'js') }}"></script>
<!-- JS Part End-->
<script type="text/javascript">
// Elevate Zoom for Product Page image
$("#zoom_01").elevateZoom({
	gallery:'gallery_01',
	cursor: 'pointer',
	galleryActiveClass: 'active',
	imageCrossfade: true,
	zoomWindowFadeIn: 500,
	zoomWindowFadeOut: 500,
	lensFadeIn: 500,
	lensFadeOut: 500,
	loadingIcon: '{{ asset('views/image/progress.gif') }}'
	}); 
{# //////pass the images to swipebox
$("#zoom_01").bind("click", function(e) {
  var ez =   $('#zoom_01').data('elevateZoom');
	$.swipebox(ez.getGalleryList());
  return false;
}); #}
</script>
</body>
</html>