{% extends './seller/templates/app.twig' %}

{% block content %}
<div class="content-wrapper" style="min-height: 1416.81px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Orders List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Orders List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        {% if flash.getMessage('Success') %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ flash.getMessage('Success') | first }}</div>
        {% endif %}
          
        {% if flash.getMessage('Danger') %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ flash.getMessage('Danger') | first }}</div>
        {% endif %}
        <div class="card-header">
          <h3 class="card-title">Current Order(s) List</h3>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 1%">
                          #
                      </th>
                      <th style="width: 22%">
                          Product Images
                      </th>
                      <th style="width: 10%">
                          Product Name
                      </th>
                      <th style="width: 8%;">
                          Order ID
                      </th>
                      <th style="width: 8%" class="text-center">
                          Quantity
                      </th>
                      <th style="width: 8%" class="text-center">
                          Status
                      </th>
                      <th style="width: 15%" class="text-center">
                          More Details
                      </th>
                      <th style="width: 8%" class="text-center">
                          Total
                      </th>
                      <th style="width: 20%">
                      Mark Order As
                      </th>
                  </tr>
              </thead>
              <tbody>
              {% for order in orders %}
              {# {% set stockLeft = product.p_quantity - product.p_sold|trim %}
              {% set totalStock = product.p_quantity|trim %}
              {% set stockPercentLeft = (stockLeft/totalStock)*100 |round %} #}
              {% set orderStatus = order.t_status %}
                  <tr>
                      <td>
                          {{ order.p_id }}
                      </td>
                        <td>
                        <ul class="list-inline">
                            {% for image in images %}
                                {% if order.p_id is same as (image.product_id) %}
                                    <li class="list-inline-item">
                                        <img alt="Avatar" class="table-avatar" src="data:image;base64,{{ image.image }}" width="40px" height="40px">
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                      </td>
                      <td>
                          <a>
                              {{ order.p_name }}
                          </a>
                          <br>
                          <small>
                              {{ product.created_at }}
                          </small>
                      </td>
                       <td>
                          <a>
                              {{ order.order_id }}
                          </a>
                          <br>
                          <small>
                              {{ product.created_at }}
                          </small>
                      </td>
                       <td>
                          <a>
                              {{ order.t_quantity }}
                          </a>
                          <br>
                          <small>
                              {{ product.created_at }}
                          </small>
                      </td>
                      {# <td class="project_progress">
                          <div class="progress progress-sm">
                              <div class="progress-bar bg-green" role="progressbar" aria-volumenow="57" aria-volumemin="0" aria-volumemax="100" style="width: {{ stockPercentLeft }}%">
                              </div>
                          </div>
                          <small>
                              {{ stockPercentLeft|number_format(2, '.', ',') }} % Stock left
                          </small>
                      </td> #}
                      <td class="project-state">
                      {% if orderStatus == 'Delivered' %}
                          <span class="badge badge-success">{{ orderStatus }}</span>
                      {% else %}
                          <span class="badge badge-warning">{{ orderStatus }}</span>
                      {% endif %}
                      </td>
                       <td>
                          <small>
                            {{ order.created_at }}
                          </small>
                          <br/>
                          <small>
                            <i class="fa fa-money-bill-wave"></i><b> {{ order.payment_method }}</b>
                          </small>
                          <br>
                          <small>
                              {{ order.address }}
                          </small>
                      </td>
                      <td>
                          <a>
                              {{ order.t_subtotal }}
                          </a>
                          <br>
                          <small>
                              {{ product.created_at }}
                          </small>
                      </td>
                      <td class="project-actions text-right">
                      {% if orderStatus == 'Delivered' %}
                            Marked As Delivered
                      {% elseif orderStatus == 'Cancelled'%}

                            Marked As Cancelled
                      {% else %}
                        <a class="btn btn-primary btn-sm" href="{{ path_for('seller.orders.delivered', {'t_id': order.t_id}) }}">
                              <i class="fas fa-check">
                              </i>
                              Delivered <!-- TODO!-->
                          </a>
                          <a class="btn btn-info btn-sm" href="{{ path_for('seller.orders.cancelled', {'t_id': order.t_id}) }}">
                              <i class="fas fa-remove">
                              </i>
                              Cancelled
                          </a>
                      {% endif %}
                          {# <a class="btn btn-danger btn-sm" href="{{ path_for('delete.product', {'vendorid': vendorid, 'productid': product.p_id}) }}">
                              <i class="fas fa-trash">
                              </i>
                              Delete
                          </a> #}
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>

  <script>

function preview_image() 
{
 var total_file=document.getElementById("customFile").files.length;
 for(var i=0;i<total_file;i++)
 {
  $('#image_preview').empty();
  $('#image_preview').append("<img src='"+URL.createObjectURL(event.target.files[i])+"' width='100%'><br>");
 }
}
</script>

{% endblock %}